# Frontend
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000/api
NEXT_PUBLIC_ML_SERVICE_URL=http://localhost:8000
WEATHER_API_KEY=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Supabase
SUPABASE_SERVICE_ROLE_KEY=
